<ul>
  <% @artists.each do |artist| %>

  <p><%= link_to artist.name, artist_path(artist)%></p>
      <p><%= artist.nationality %></p>
      <img src="<%= artist.photo_url %>">
      <p><%= link_to 'delete artist', artist_path(artist), method: :delete, data:{confirm: "Are you sure you want to delete this artist?"} %></p>
  <% end %>
</ul>
<h1><%= link_to "create new artist", new_artist_path %></h1>
